<nav class="navbar navbar-default" >
    <div class="container-fluid">    
     <div class="navbar-header">
        <a class="navbar-brand"routerLink="/"style="color: rgb(130, 252, 8);">Kitchen Story</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="/login" Activerouter>Login</a></li>
        <li></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>
  </nav>

<div style="display: flex;justify-content: space-evenly;">
    <div class="container" style="margin-top: 15%;margin-left: 10%;">
        <h3>Register</h3>

        <input type="text" class="form-control" placeholder="Enter the Item Name"
            [(ngModel)]='newUname'> <br>
        <input type="password" class="form-control" placeholder="Enter the password"
            [(ngModel)]='newPwd'> <br>
            
        <input type="text" class="form-control" placeholder="Enter the Location"
        [(ngModel)]='location'> <br>
        <input type="email" class="form-control" placeholder="Enter mail id"
            [(ngModel)]='mail'> <br>
        <button style="margin-top: 1%; width:200px;" class="btn btn-success" (click)='addCust()'>Register</button>

    </div>
    <div class="full">
    </div>
   
</div>