.full{
min-width: 100%;
min-height: 100%;
position: fixed;
right: 0;
bottom:0;
background-image: url(../../../assets/food1.jpg);
 background-repeat: no-repeat;
 background-size: cover; 
  background-attachment: fixed;
background-size: 100% 100%;
}
.content{
  
    background-color: rgb(240, 248, 255,0.4);
    width: fit-content;
    height: 750px;
    
}
.content h1{
  
  margin-left: 10%;
  margin-top: 15%;
  font-size:70px;
}
.content h3{
  margin-left: 10%;
}
.content button{
  margin-left: 10%;
}
.navbar a{
  color: rgb(130, 252, 8);
}