<nav class="navbar navbar-default" >
    <div class="container-fluid">    
     <div class="navbar-header">
        <a class="navbar-brand"routerLink=""style="color: rgb(130, 252, 8);">Kitchen Story</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a routerLink="">Home</a></li>
        <li ><a routerLink="/login" Activerouter>Login</a></li>
        
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>
  </nav>

<div style="display: flex;justify-content: space-evenly;">
    <div class="full">
    </div>
    <div class="container" style="margin-top: 15%;">
        <h3> Welcome back</h3>
        <input type="text" class="form-control" placeholder="Enter the User Name"
            [(ngModel)]='uname'>
            <br>
        <input  type="password" class="form-control" placeholder="Enter the Password"
            [(ngModel)]='pwd'>
            <br>
        <select  class="form-control" [(ngModel)]='role'>
            <option  class="form-control" value='admin'>admin</option>
            <option  class="form-control" value='cust'>Customer</option>
        </select>
        <button style="margin-top: 1%; width:200px;" class="btn btn-success" (click)='validateUser()'>login</button>
    </div>

</div>